/************************************TAG SELECTOR**********************************/
body{
  font-family: "Montserrat";
}
h1{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h3{
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  font-weight: bolder;
}
p{
  color: #8f8f8f;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

/************************************CLASS SELECTOR**********************************/
.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* Download Button */
.dowload-button {
  margin: 5% 3% 5% 0;
}

/* Image Title */
.image-title {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Icon feature */
.icon-feature{
  color: #ef8172;
  padding: 1rem;
}
.icon-feature:hover{
  color: #ff4c68;
}

/* Feature Section */
.feature-box{
  text-align: center;
  padding: 5%;
}

/* Testimonials Section */
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
  transition: transform 1s ease;
  opacity: .3s ease-out;
}

/* Pricing Section */
.pricing-col{
  pading: 3% 2%;
}

/* Call to Action */
.h3-cta{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Fotter Section*/
.footer-icon{
  margin: 20px 10px;
}



/************************************ID SELECTOR**********************************/
#title{
  background-color: #ff4c68;
  color: #fff;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 5%;
}
/********************* ********************************/
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .image-title{
    position: static;
    transform: rotate(0);
  }
}
